{% extends "auctions/layout.html" %}

{% block body %}
    {% for item in category %}
        <div class="card" style="padding: 15px;">
            <div class="card-header">
                <b>{{ item.name }}</b>
            </div>
            {% if item.image %}
                <img src="{ IMAGE_URL }:{{ item.image.url }}">
            {% else %}
                <img src="images/no_image.png">
            {% endif %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ item.name }} - Current price {{ item.price }}$</li>
                <li class="list-group-item">{{ item.description }}</li>
                <li class="list-group-item">
                    <a href="{% url 'listing' item.name %}" class="btn btn-primary">View</a>
                    <a href="{% url 'add_to_wl' item.name %}" class="btn btn-primary">Add to Watchlist</a>
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}