{% extends "auctions/layout.html" %}

{% load static %}
{% block body %}
    <h2>Active Listings</h2>
    
        {% for item in listings %}
                <div class="card" style="padding: 15px;">
                    <div class="card-header">
                        <b>{{ item.name }}</b>
                    </div>
                    {% if item.image %}
                        <img src="{{ item.image.url }}" style="width:100px; height:100px;">
                    {% else %}
                        <img src="images/no_image.png" alt="no_image" style="width:100px;height:100px;">
                    {% endif %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ item.name }} - Current price {{ item.price }}$</li>
                        <li class="list-group-item">{{ item.description }}</li>
                        <li class="list-group-item">
                            <a href="{% url 'listing' item.name %}" class="btn btn-primary">View</a>
                            <a href="{% url 'add_to_wl' item.name %}" class="btn btn-primary">Add to Watchlist</a>
                        </li>
                    </ul>
                </div>
        
        {% endfor %}

{% endblock %}