{% extends "auctions/layout.html" %}

{% load static %}
{% block body %}
    <div>
        <h1>{{ listing.name }}</h1>
        <div style="color: grey; font-size: small;">
            {% if listing.status %}
                <span class="badge badge-success">Openned</span>
            {% else %}
                <span class="badge badge-danger">Closed</span>
            {% endif %}
            Created by: {{ listing.owner.username }} at {{ listing.created }}
        </div>
        <div>
            {% if listing.image %}
                <img src="{{ IMAGES_URL }}/{{ listing.image.url }}" style="width:600px;height:600px;">
            {% else %}
                <img src="{% static 'images/no_image.png' %}">
            {% endif %}
        </div>
        <div>{{ listing.description }}</div>

    </div>
    {% if listing.owner == request.user %}
        <div>
            <a href="{% url 'close_bids' listing %}" class="btn btn-primary">Close Auction</a>  
        </div>
    {% endif %}
    
    <h4>Bids</h4>
    <div>        
    {% if listing.status %}
        <b>Current price - {{ listing.price }}$</b>
        {% if listing.owner == request.user %}
            Last bid made by: {{ listing.auction_set.all.last.user }}
        {% endif %}
    </div>
    <form action="{% url 'place_bid' listing %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group mb-3" style="width: 500px;">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name='bid'>
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>                
                <input type="submit" class="btn btn-secondary" value="Place Bid" style="width: 100px; ">
            </div>
            
          </div>
    </form>
    {% elif listing.auction_set.all.last.user == request.user%}
        <b>Congratulations! You are the winner of this Auction. Please contact adminitrator!</b>
    {% else %}
        <b>Bids are closed</b>
    {% endif %}
    <h4>Comments</h4>
        {% for comment in comments %}
            <div class="card" style="width: 35rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.author }} commented at {{ comment.date }}:</h6>
                    <p class="card-text">{{ comment.comment }}</p>
                </div>
            </div>
        {% endfor %}
        {% if user.is_authenticated %}
            <div class="card"></div>
                <div class="card-header">
                    Comment listing:
                </div>
                <div class="card-body">
                    <form action="{% url 'new_comment' listing.name %}" method="POST">
                        {% csrf_token %}
                        <textarea placeholder="Type your comment..." class="form-control" style="height: 200px;" name="comment_textarea"></textarea>
                        <input type="submit" class="btn btn-success" value="Leave comment">
                    </form>
                </div>
            </div>
        {% else %}
        To leave comments you need to <a href="{% url 'login' %}">Log in</a>
        {% endif %}
    {% if in_watchlist %}
        <div>
            <a href="{% url 'remove_from_wl' item.name %}" class="btn btn-primary">Remove from Watchlist</a>
        </div>
    {% else %}
        <div>
            <a href="{% url 'add_to_wl' item.name %}" class="btn btn-primary">Add to Watchlist</a>
        </div>
    {% endif %}
{% endblock %}